- name: Assume IAM role
  sts_assume_role: 
    role_arn: "{{ item.role }}"
    role_session_name: "ansible-session"
  register: assumed_role
  
#- name: Assume IAM role
#  command: aws sts assume-role --role-arn {{ item.role }} --role-session-name ansible-session --output yaml
#  register: role_output

#- name: Convert to YAML
#  set_fact:
#    role_out_yaml: {{ role_output | from_yaml }}

#- name: Extract Access Key ID
#  set_fact:
#    access_key_id: {{ ansible_facts['role_out_yaml'].Credentials.AccessKeyId }}

#- name: Display Facts
#  debug:
#    var: ansible_facts

- name: Verify Identity
  command: aws sts get-caller-identity
  register: iden_output 
  environment:
      AWS_ACCESS_KEY_ID: "{{ assumed_role.sts_creds.access_key }}"
      AWS_SECRET_ACCESS_KEY: "{{ assumed_role.sts_creds.secret_key }}"
      AWS_SESSION_TOKEN: "{{ assumed_role.sts_creds.session_token }}"

- name: Generate Kube Config
  command: aws eks update-kubeconfig --name {{ item.cluster_name }}
  register: kubecfg_output 
  environment:
      AWS_ACCESS_KEY_ID: "{{ assumed_role.sts_creds.access_key }}"
      AWS_SECRET_ACCESS_KEY: "{{ assumed_role.sts_creds.secret_key }}"
      AWS_SESSION_TOKEN: "{{ assumed_role.sts_creds.session_token }}"

- name: Execute Kubectl Command
  command: kubectl --kubeconfig /root/.kube/config get ns
  register: kubectl_output 
  environment:
      AWS_ACCESS_KEY_ID: "{{ assumed_role.sts_creds.access_key }}"
      AWS_SECRET_ACCESS_KEY: "{{ assumed_role.sts_creds.secret_key }}"
      AWS_SESSION_TOKEN: "{{ assumed_role.sts_creds.session_token }}"

- name: Display Identity output
  debug:
    var: iden_output

- name: Display Kubectl output
  debug:
    var: kubectl_output
