- name: Assume IAM role
  sts_assume_role: 
    role_arn: "{{ item.role }}"
    role_session_name: "ansible-session"
  register: assumed_role
  
- name: Verify Identity
  command: aws sts get-caller-identity
  register: iden_output 
  environment:
      AWS_ACCESS_KEY_ID: "{{ assumed_role.sts_creds.access_key }}"
      AWS_SECRET_ACCESS_KEY: "{{ assumed_role.sts_creds.secret_key }}"
      AWS_SESSION_TOKEN: "{{ assumed_role.sts_creds.session_token }}"

- name: Display Identity output
  debug:
    var: iden_output

- name: Generate Kube Config
  command: aws eks update-kubeconfig --name {{ item.cluster_name }} --kubeconfig ./config
  register: kubecfg_output 
  environment:
      AWS_ACCESS_KEY_ID: "{{ assumed_role.sts_creds.access_key }}"
      AWS_SECRET_ACCESS_KEY: "{{ assumed_role.sts_creds.secret_key }}"
      AWS_SESSION_TOKEN: "{{ assumed_role.sts_creds.session_token }}"

- name: Execute Kubectl Command
  command: kubectl --kubeconfig ./config get ns
  register: kubectl_output 
  environment:
      AWS_ACCESS_KEY_ID: "{{ assumed_role.sts_creds.access_key }}"
      AWS_SECRET_ACCESS_KEY: "{{ assumed_role.sts_creds.secret_key }}"
      AWS_SESSION_TOKEN: "{{ assumed_role.sts_creds.session_token }}"

- name: Display Kubectl output
  debug:
    var: kubectl_output

- name: Execute Shell Command on Worker Node
  shell: |
    aws ssm send-command \
      --document-name "AWS-RunShellScript" \
      --targets "Key=tag:ServerRole,Values=EKSNode" \
      --parameters 'commands=["uptime","uname -a"]' \
      --output json
  register: send_command_result
  environment:
      AWS_ACCESS_KEY_ID: "{{ assumed_role.sts_creds.access_key }}"
      AWS_SECRET_ACCESS_KEY: "{{ assumed_role.sts_creds.secret_key }}"
      AWS_SESSION_TOKEN: "{{ assumed_role.sts_creds.session_token }}"

- name: Get Command Id
  set_fact:
    command_id: "{{ send_command_result.stdout | from_json | json_query('Command.CommandId') }}"
    
- name: Wait for SSM Command
  shell: |
    aws ssm list-command-invocations \
      --region {{ aws_region | default('us-east-1') }}
      --command-id {{ command_id }} \
      --details \
      --query  'CommandInvocations[*].Status' \
      --output text
  register: command_status
  retries: 30
  delay: 5
  until: command_status.stdout == 'Success'
  changed_when: false

- name: Retrieve SSM Command Output
  shell: |
    aws ssm list-command-invocations \
      --region {{ aws_region | default('us-east-1') }}
      --command-id {{ command_id }} \
      --details \
      --query  'CommandInvocations[*].CommandPlugins[*].Output' \
      --output text
  register: command_output
  changed_when: false

- name: Display Node SSM CMD output
  debug:
    var: command_output.stdout_lines
