- name: Set kubectl config
  shell: aws eks update-kubeconfig --name {{ item }}
- name: Run kubectl command
  command: kubectl --kubeconfig /root/.kube/config get ns
  register: kubectl_output
- name: Display output
  debug:
    var: kubectl_output.stdout_lines
