---
# list_namespaces.yaml - Lists all nampespaces in a Kubernetes cluster

- name: List Kubernetes Namespaces
  hosts: localhost
  collections:
    - amazon.aws
  gather_facts: false
  vars:
   kubernetes_clusters:
     - cluster_name: catcluster
       role: "arn:aws:iam::184527568870:role/centroid-role-catcluster20251216145250081800000002"
     - cluster_name: dogcluster
       role: "arn:aws:iam::184527568870:role/centroid-role-dogcluster20251216145250081900000004"

  tasks:
    - name: Run Commands Against Multiple Clusters
      include_tasks: loop_tasks.yml
      loop: "{{ kubernetes_clusters }}"

#   - name: Generate Kubeconfig and Get Kubernetes Namespaces
#     command: "{{ item }}"
#     with_items:
#       - "aws eks update-kubeconfig --name daikaiju"
#       - "kubectl --kubeconfig /root/.kube/config get namespaces"
#     register: kubectl_output
#     changed_when: false

#   - name: Display Kubernetes namespaces
#     debug:
#       var: kubectl_output
