---
# list_namespaces.yaml - Lists all nampespaces in a Kubernetes cluster

- name: List Kubernetes Namespaces
  hosts: localhost
  gather_facts: false

  tasks:
    - name: Generate Kubeconfig and Get Kubernetes Namespaces
      command: "{{ item }}"
      with_items:
        - "aws eks update-kubeconfig --name daikaiju"
        - "kubectl get namespaces"
      register: kubectl_output
      changed_when: false

    - name: Display Kubernetes namespaces
      debug:
        var: kubectl_output.stdout_lines
